*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #f6b0ff, #b4e0fb);
}

.calculator-grid{
    
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    
}

.span-two{
    grid-column: span 2;
}
.output {
    border-top-right-radius:  30px;
    border-top-left-radius:  30px;
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column ;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

.point-button{
    border-bottom-left-radius: 30px;
}

.equal{
    border-bottom-right-radius: 30px;
}

.calculator-grid > .operatori{
    background-color: rgb(255, 145, 0);
}

.calculator-grid > .equal{
    background-color: rgb(179, 179, 179);
}
