div.complete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    overflow: auto;
}

div.form {
    height: 200px;
}

label {
    margin: 20px;
    display: flex;
    padding: 5px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

input {
    border-radius: 10px;
    padding: 10px;
}

span {
    color: red;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

div#tables {
    height: 300px;
    overflow: auto;
    padding: 10px;
}

table,
th,
td {
    border: 1px solid red;
    border-radius: 10px;
    border-collapse: collapse;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    padding: 10px;
}

th {
    border-radius: 10px;
    width: 20%;
    padding: 15px;
}